.navigation {
  cursor: pointer;
  height: 55px;
  display: flex;
  padding: 10px 10px;
  font-size: 18px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
}
.active {
  position: relative;
  cursor: pointer;
  height: 55px;
  padding: 0px 6px;
  display: flex;
  font-size: 15px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1;
  padding-bottom: 27px;
}

.active:before {
  content: '';
  position: absolute;
  top: 0%;
  height: 46px;
  width: 100%;
  background-color: white;
  z-index: -1;
  left: 0;
}

.navigation-part:hover {
  color: #ee3224;
}
.short-nav {
  position: absolute;
  display: flex;
  height: 38px;
  width: 180px;
  background-color: #141414;
  top: 46px;
  left: 78%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sq-nav {
  margin: 5px 0px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cir-nav {
  height: 23px;
  width: 23px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cir-nav:hover {
  background-color: rgb(249, 166, 12);
  color: white;
}
